<div class="formContainer">
  <form action="" method="POST" class="form">
    <label for="title">
      Game title*
      <input
        type="text"
        id="title"
        name="title"
        required
        class="input"
        value="<%= game===null ? '': game.title %>"
      />
    </label>
    <label for="description">
      Game description
      <input
        type="text"
        id="description"
        name="description"
        class="input"
        value="<%= game===null ? '': game.title %>"
      />
    </label>

    <label for="developer">
      Choose a developer
      <input
        type="text"
        id="developer"
        name="developer"
        list="developers"
        value="<%= game===null ? '': game.developer %>"
      />
      <datalist id="developers">
        <%for (const developer of developers){%>
        <option value="<%= developer.name%>"></option>
        <%}%>
      </datalist>
    </label>

    <fieldset>
      <legend>Choose genre(s)*</legend>
      <% for (const genre of genres) { %>
      <label for="<%=genre._id%>">
        <% if(genre.checked){ %>
        <input
          id="<%=genre._id%>"
          type="checkbox"
          name="genre"
          checked
          value="<%= genre._id%>"
        />
        <% } else { %>
        <input
          id="<%=genre._id%>"
          type="checkbox"
          name="genre"
          value="<%= genre._id%>"
        />
        <% } %> <%= genre.name%>
      </label>
      <% } %>
    </fieldset>

    <fieldset>
      <legend>Choose store(s)*</legend>
      <% for (const store of stores) { %>
      <label for="<%=store._id%>">
        <% if(store.checked){ %>
        <input
          id="<%=store._id%>"
          type="checkbox"
          name="store"
          checked
          value="<%= store._id%>"
        />
        <% } else { %>
        <input
          id="<%=store._id%>"
          type="checkbox"
          name="store"
          value="<%= store._id%>"
        />
        <% } %> <%= store.name%>
      </label>
      <% } %>
    </fieldset>

    <label for="price">
      Price*
      <input
        type="number"
        id="price"
        name="price"
        required
        value="<%= game===null ? '': game.price %>"
      />
    </label>

    <label for="img">
      Upload image
      <input type="file" name="img" id="img" />
    </label>

    <button>Submit</button>
  </form>
  <%if(errors){%>
  <ul>
    <%for (const error of errors){%>
    <li><%= error.msg %></li>
    <%}%>
  </ul>
  <%}%>
</div>
