<div class="details">
  <div class="title"><%=genre.name%></div>
  <%if(games.length){%> <%for(const game of games){%>
  <div class="gameDetailCard">
    <div class="imgWrapper">
      <img src="game.img" alt="" />
    </div>
    <div class="mainInfoWrapper">
      <div class="titleDescription">
        <a href="<%= game.url%>" class="titlegame"><%= game.title%></a>
        <div class="descriptionGame"><%= game.description%></div>
      </div>
      <div class="genresStoresDevPrice">
        <div class="genresStoresDevs">
          <div class="devs">Developer: <%= game.developer?.name || ''%></div>
          <div class="genres">
            Genres: <%for (const genre of game.genre){%> <%= genre.name%> <%}%>
          </div>
          <div class="storoes">
            Where to buy: <%for (const store of game.store){%> <%= store.name%>
            <%}%>
          </div>
        </div>
        <div class="price"><%= game.price%>₴</div>
      </div>
    </div>
  </div>
  <%}%> <%} else {%>
  <div class="message">There ara no games yet</div>
  <%}%>
</div>
